
#insta{
    position:sticky;
    left: 0%;
}
#Whasapp{
      position: absolute;
       left:20%
}
#leet{
     position: absolute;    
    left: 39%;  
}
#linked{
    position: absolute;    
    left: 58%;
}
#git{
     position: absolute;    
    left:78%;
}
#mail{
 position: absolute;    
    left: 92%;   
}
body::before {
    content: "";
    position:fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url("src/back_2.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.3;  
    z-index: -1;    
}
.link{
    color:white;
    text-decoration: none;
}
.img{
    color: wheat;
}